<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div style="width: 100%;">
  
</div>

<canvas id="c" width="128px" height="128px" style="border: 2px solid #ddd"></canvas>
<br>


<form id="sampleForm" name="sampleForm" method="post" action="/test">
  <input type="hidden" name="url" id="url" value="">
  <button onclick="saveImageAs();">Save Image(Send URL)</button>
</form>


<br>
<div id="buttons">
  <input type="button" id="clear" value="Clear" onclick="clearImage()">
</div>

<button onclick="copyURL();" onmouseover="">Copy Image URL</button>

<script>

var el = document.getElementById('c');
var ctx = el.getContext('2d');
var isDrawing;
ctx.lineWidth=2;

el.onmousedown = function(e) {
  isDrawing = true;
  ctx.moveTo(e.clientX, e.clientY);
};
el.onmousemove = function(e) {
  if (isDrawing) {
    ctx.lineTo(e.clientX, e.clientY);
    ctx.stroke();
  }
};
el.onmouseup = function() {
  isDrawing = false;
};


var dataURL;

function saveImageAs () {
  var canvas = document.getElementById('c');
  dataURL = canvas.toDataURL();
  //document.write(dataURL);
  document.sampleForm.url.value = dataURL;
  document.forms["sampleForm"].submit();
  
};

function clearImage(){

var canvas = document.getElementById('c');
var context = canvas.getContext('2d');

document.getElementById('clear').addEventListener('click', function() {
  context.clearRect(0, 0, canvas.width, canvas.height);
  context.beginPath();
}, false);
};

function copyURL(){
  saveImageAs();
  copyToClipboard(dataURL);
};

function copyToClipboard(text) {

  window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
}


function setValue(){
    document.sampleForm.total.value = 100;
    document.forms["sampleForm"].submit();
}


</script>


<!--<?php -->

<!--$url = isset($_POST['url']) ? $_POST['url'] : '';-->

<!--echo $url;-->

<!--?>-->

</body>
</html>